## This cleans the data

In [49]:
import pandas as pd

titanic_train = pd.read_csv('../datasets/titanic_train.csv')
titanic_test = pd.read_csv('../datasets/titanic_test.csv')

In [50]:
def fill_in_missing_data(df, null_values={}):
    """ Doc string here """
    # Cabin has almost all missing values and few repeats; we'll just ignore it for now
    if 'Cabin' in df.columns:
        df = df.drop('Cabin',axis=1)
    if 'Ticket' in df.columns:
        df = df.drop('Ticket',axis=1)
    # this is one of the biggest places for improvement, for now we'll use the mean age
    if not 'Age' in null_values:
        null_values['Age'] = df.Age.mean()
    df.Age = df.Age.fillna(null_values['Age'])
    if not 'Embarked' in null_values:
        null_values['Embarked'] = df.Embarked.mode()[0]
    df.Embarked = df.Embarked.fillna(null_values['Embarked'])
    # there is one missing Fare entry in the test set we'll use the training set mean
    if not 'Fare' in null_values:
        null_values['Fare'] = df.Fare.mean()
    df.Fare = df.Fare.fillna(null_values['Fare'])
    return df, null_values

In [51]:
print type(titanic_test)
titanic_train, null_values = fill_in_missing_data(titanic_train)
titanic_test, null_values = fill_in_missing_data(titanic_test, null_values)

print titanic_train.isnull().sum()
print titanic_test.isnull().sum()

# make sure not to do this:
# data.sex_coded = data.Sex.apply(lambda x: 1 if x == 'male' else 0)
#data['sex_recoded'] = data.Sex.apply(lambda x: 1 if x == 'male' else 0)
#data['name_length'] = data.Name.apply(lambda x: len(x))

<class 'pandas.core.frame.DataFrame'>
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [52]:
def do_recodes(df):
    """ Doc string here """
    df['sex_recoded'] = df.Sex.apply(lambda x: 1 if x == 'male'else 0)
    embarked_dummies = pd.get_dummies(df.Embarked,'embarked')
    df = pd.concat((df, embarked_dummies),axis=1)
    pclass_dummies = pd.get_dummies(df.Pclass,'pclass')
    df = pd.concat((df, pclass_dummies),axis=1)
    df['male_child'] = df.apply(lambda f: f.Sex=='male' and f.Age < 10,axis=1)
    return df

In [53]:
titanic_train = do_recodes(titanic_train)
titanic_test = do_recodes(titanic_test)

print titanic_train.columns
print titanic_test.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Fare', u'Embarked', u'sex_recoded', u'embarked_C',
       u'embarked_Q', u'embarked_S'],
      dtype='object')
Index([u'PassengerId', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Fare', u'Embarked', u'sex_recoded', u'embarked_C', u'embarked_Q',
       u'embarked_S'],
      dtype='object')